
@media (min-width: 640px) {
  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .spotlights-container {
    grid-column: span 2;
  }

  .spotlight-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .discover-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .join-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
}
