@media only screen and (min-width: 37.5rem) {
  #ham-button {
    display: none;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  #members-container.grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #members-container.list .member-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 37.5rem) {
  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .spotlight-card {
    grid-column: span 2;
  }

  .spotlight-container {
    flex-direction: row;
  }

  .spotlight {
    flex: 1;
  }
}
