@media only screen and (min-width: 37.5rem) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    padding: 0.85rem 1.75rem;
  }

  #ham-button {
    display: none;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .spotlight-card {
    grid-column: span 2;
  }

  .spotlight-container {
    flex-direction: row;
  }

  .spotlight {
    flex: 1;
  }

  footer {
    padding: 1.5rem 2rem;
  }
}

@media only screen and (min-width: 48rem) {
  .join-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
  }
}

@media only screen and (min-width: 48rem) {
  #members-container.grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #members-container.list .member-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .discover-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
  }
}
