@media (min-width: 640px) {
    #menu {
        display: none !important;
    }

    nav {
        display: block !important;
    }

    nav ul {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-start;
    }

    nav li a {
        padding: 0.8rem 1.75rem;
    }

    .top-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.25rem;
    }

    .course-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
